<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>留言榜</title>

	 <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/message.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
	body{
		background: #EEF3FA;
	}
	.liuyanub{
		padding-top:20px; 
	}
	.text-center{
		line-height: 30px;
	}
	</style>
	</head>

	<body>
		<div class="container liuyanub">
			<div id="" class="col-md-12">
				<h4 class="text-center">留言榜</h4>
			<{foreach from=$arr item=temp}>
				<div class="<{$temp.class}>">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="glyphicon glyphicon-tags" style="padding-right: 10px;"></i><{$temp.title}><small class="pull-right"><i class="glyphicon glyphicon-time"></i><{$temp.create_time}></small></h3>

					</div>
					<div class="panel-body">
						<{$temp.content}>
					</div>
					<div class="panel-footer text-right">
						<button onclick="up('<{$temp.id}>')" type="button" class="btn btn-info btn-xs" aria-label="Left Align">
							<span id="<{$temp.id}>" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"><{$temp.up}></span>
						</button>
						<button onclick="down('<{$temp.id}>')" type="button" class="btn btn-info btn-xs" aria-label="Left Align">
							<span id="<{$temp.id}>z" class="glyphicon glyphicon-thumbs-down" aria-hidden="true"><{$temp.down}></span>
						</button>

					</div>
					<!-- List group -->
					<{if $temp.answer != ''}>
					<ul class="list-group">
						<li class="list-group-item answer"><strong>管理员：</strong><{$temp.answer}><small class="pull-right"></small></li>
					</ul>
					<{/if}>
				</div>
				<{/foreach}>

			</div>

			<!-- <div class="col-md-10">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title text-center">最新公告</h3>
					</div>

					<ul class="list-group">
						<{foreach from=$arr2 item=temp}>
						<div style="margin: 5px;border: inset;background-color: #d6eaea;">
						<div class="panel-body">
							<a href="notice.php?id=<{$temp.id}>"><i class="glyphicon glyphicon-link" style="padding-right: 10px"></i><{$temp.title}></a>
						</div>
						<li class="list-group-item  text-right">

							<small class="answer"><i class="glyphicon glyphicon-time"></i><{$temp.create_time}></small></li>
							</div>
						<{/foreach}>
					</ul>
				</div>
			</div> -->

		</div>
	</body>
		<script src="js/jquery-3.1.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript">
        var xmlhttp;
        if(window.XMLHttpRequest) //XMLHttpRequest 对象用于在后台与服务器交换数据
        {
            xmlhttp = new XMLHttpRequest();
        }
        else{
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
		var id2;
        //点赞
        function up(id){
            if(xmlhttp){
                var url = "background/up.php?id="+id;
                //打开请求
                xmlhttp.open("get",url,true);
                //指定回调函数,chuli是函数名
                xmlhttp.onreadystatechange = up2;
                xmlhttp.send();
				id2 = id;
            }
		}
		
		function up2() {
            if(xmlhttp.readyState == 4 && xmlhttp.status==200){
                var text = xmlhttp.responseText;
                if(text != 'erro'){
                    $(id2).innerHTML=text;
				}
				else{
                    alert('出错了！！！');
				}
			}
            if(xmlhttp.readyState == 4 && xmlhttp.status!=200){
                alert('网络不是很流畅！！！');
            }
        }

        //踩
		function down(id) {
            if(xmlhttp){
                var url = "background/down.php?id="+id;
                //打开请求
                xmlhttp.open("get",url,true);
                //指定回调函数,chuli是函数名
                xmlhttp.onreadystatechange = down2;
                xmlhttp.send();
                id2 = id;
            }
        }

        function down2() {
            if(xmlhttp.readyState == 4 && xmlhttp.status==200){
                var text = xmlhttp.responseText;
                if(text != 'erro'){
                    $(id2+'z').innerHTML=text;
                }
                else{
                    alert('出错了！！！');
                }
            }
            if(xmlhttp.readyState == 4 && xmlhttp.status!=200){
                alert('网络不是很流畅！！！');
            }
        }

        function $(id) {
            return document.getElementById(id);
        }
	</script>
</html>